@import 'tailwindcss';


/* ============================================================================
 * Base styles for React Dashboard Layout
 * ============================================================================ */

/* 1. Root and App Fullscreen Layout */
html,
body,
#root {
  -webkit-font-smoothing: antialiased;
}


@layer base {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #111;
  }
  ::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #444 #111;
  }
}
